################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentPortal/.vs/StudentPortal/v16/Server/sqlite3
